.comman-slider-main{
    .above-slider-main{
        .slick-list{
            padding: 10px 0px !important;
            .slick-track{
                .slick-slide{
                    img{
                        width: 95% !important;
                        height: 350px;
                        object-fit: contain;
                        border: 1px solid #cccc;
                        margin-bottom: 30px;
                        padding: 10px 20px;
                        margin-top: -60px;
                        margin-bottom: -60px;
                        margin-left: auto !important;
                        margin-right: auto !important;
                    }
                }
            }
        }
    }
    .below-slider-main{
        margin-top: -57px;
        .slick-list{
            .slick-track{
                .slick-slide{
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        img{
                            height: 170px;
                            margin: 0px auto;
                            border: 1px solid #cccc;
                            object-fit: contain;
                            padding: 5px 30px;
                            width: 95% !important;
                        }
                    }
                }
            }
        }
        .slick-arrow.slick-next{
            right:10px;
            display:none !important;
        }
        .slick-arrow.slick-prev{
            left:10px;
            display:none !important;
        }
    }
} 

.right-side-main {
    margin-top: 10px;
    padding-left: 50px;
}

.margin-tops {
    padding: 0 10px;
    margin-bottom: 40px;
}

.margin-tops:last-child {
    margin-bottom: 0px;
}

.ant-table-v1 table tbody tr td:nth-child(8), 
.ant-table-v1 table tbody tr td:nth-child(11), 
.ant-table-v1 table tbody tr td:nth-child(12) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comman-slider-main .above-slider-main .slick-list .slick-track .slick-slide div {
    display: flex;
    align-items: center;
    justify-content: center;
}