// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@import '~antd/dist/antd.less';

// mapping scss veraibles to less
@dark: #343a40; // $gray-800
@cyan: #01bcd4;
@green: #66bb6a;
@purple-6: #F05A36;

// -------- Colors -----------
@primary-color: @purple-6; // #1890ff
@info-color: @purple-6;
@success-color: @green;
@processing-color: @purple-6;
@error-color: @red-5; // #ff4d4f
@highlight-color: @red-5;
@warning-color: @gold-5; // #ffc53d
@normal-color: #d9d9d9;

@font-family-no-number: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@font-family: @font-family-no-number;
@line-height-base: 1.714285714285714; // 24px

// Base Scaffolding Variables
// ---

@border-radius-base: 6px;

// ICONFONT
// @icon-url               : "/vendors/antd/iconfont/iconfont"; // By default it use alicdn.com
@menu-dark-bg: @dark;
@menu-dark-submenu-bg: darken(@dark, 3%);

// Layout
@layout-header-background: transparent;

@table-row-hover-bg: fade(@primary-color, 10%);
@table-padding-vertical: 6px;
@table-padding-horizontal: 12px;
@table-font-size-base: 13px;
@font-size-base: 13px;


.ant-calendar-input-wrap{
  display: none !important;
}