.order-info-card {
  display: flex;
  .icon {
    i {
      font-size: 24px;
    }
  }
  .content {
    padding-left: 8px;
    .title {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 4px;
    }
    .day {
      color: #a1a1a1;
      margin: 0;
      line-height: 1.2;
      margin-bottom: 6px;
    }
    .value {
      margin: 0;
      line-height: 1.2;
      font-size: 20px;
    }
  }
}
