.ant-form-item {
  margin-bottom: 8px;
}

.ant-form-item-label {
  line-height: 1.2;
  font-weight: 600;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;

  .ant-tooltip {
    display: none;
  }
  
}

.form-v1-container {
  h2 {
    font-weight: 500;
  }
}


.ant-tooltip {
    display: none;
  }