body {
  font-family: 'Sul Sans';
}
.app-layout.ant-layout {
  min-height: calc(100vh - 1px);
}

.autocomplete-dropdown-container {
  max-height: 250px;
  margin-bottom: 0;
  padding: 4px 0;
  padding-left: 0;
  overflow: auto;
  list-style: none;
  outline: none;

  background-color: #fff;
  border-radius: 6px;

  color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  &:empty {
    display: none;
  }
  .suggestion-item {
    position: relative;
    display: block;
    padding: 5px 12px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {
      background: #eeeeee;
    }
  }
}



.dashboard-table-data {
  .dashboard-data {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .tb-header-text {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
    color: #F05A36;
  }
  .tb-header-text:hover {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color:#F05A36 ;
    color: white;
    cursor: pointer;
  }
  .tb-header-text-selected {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color:#F05A36 ;
    color: white;
    cursor: pointer;
  }
  
  .recent-data-title {
    font-size: 20px;
    // color: #F05A36;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

input#password{
  padding: 16px 0;
  padding-left: 39px !important;
}

input#cnpassword{
  padding: 16px 0;
  padding-left: 39px !important;
}

input#hasEmailIconPad {
  padding-left: 39px !important;
}

input#hasPasswordIconPad {
  padding-left: 39px !important;
}

input#resetPassword1Email {
  padding-left: 39px !important;
}

input#resetOTP{
  padding-left: 39px !important;
}

.textSize {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 200px;
}

.profile-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 100%;
}